.home{
    background-color: var(--white-color);

}

.home__container{
   
    display: flex;
  
}

.home__data{
  
    flex: 1;
}
.home__title{
    align-items: center;
    font-size: var(--normal-font-size);
    line-height: 1;
    
    margin-bottom: 4rem;
}

