
.home{
    min-height: 100vh;
    background-image: url("../img/alexander-dummer-aS4Duj2j7r4-unsplash\ \(1\).jpg");
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    background-attachment: fixed ;

}
.home article {
  
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsla(267, 85%, 6%, 0.5);
    
}

.home__container{
    height: cacl(100vh - var(--header-height));
   
}
.bd-container{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__data{
    
    text-align: center;
    
    
}
.home__title{
    align-self: center;
    font-size: var(--h1-font-size);
    line-height: 1.3;
    margin-bottom: 1.5rem;
    color: #ffffff;
    
}
.home__title span{
    font-size: var(--h1-font-size);
    font-weight: 10;
}

.home__img{
    width: 50%;
}

/*BUTTONS*/ 

.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 1rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi);
    transition: .3s;
    border-radius: 5px;
}

.button:hover{
    background-color: var(--first-color);
}

@media screen and (max-width: 768px) {
   .home__container img {
       display: none;
   } 
  }
